/*@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);*/
@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
* {
    font-family:'Poppins', 'Nanum Barun Gothic';
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    outline:0
}

a,a:focus,a:hover {
    text-decoration:none;
}

body {
    line-height:1;
    overflow:hidden
}

html {
    -ms-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    font-size:100%;
    overflow-y:scroll
}

#intro,body .btn-cta,section {
    overflow:hidden
}

.btn-cta {
    border-radius:0;
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    font-weight:700;
    margin:10px 0;
    text-transform:uppercase
}

a:hover {
    color:#f2c351
}
a:focus {
    color:#1b1b1b
}
::selection {
    background:#f2c351;
    color:#fff
}
::-moz-selection{
    background:#f2c351;
    color:#fff
}

.section-sub-heading {
    color:#333;
    display:block;
    font-size:16px;
    font-weight:300;
    margin-top:5px
}
.intro-tagline,.intro-title {
    text-shadow:0 1px 3px rgba(0,0,0,.9)
}
.intro-tagline a {
    color:#fff;
    text-decoration:underline;
    display:inline-block;
    margin:0 5px
}
.intro-tagline a:hover {
    color:#f2c351;
    text-decoration:none;
    opacity:.75
}
h1.intro-title {
    font-size:57px;
    font-weight:600;
    letter-spacing:-1px;
    font-family:'Poppins', 'Nanum Barun Gothic'
}
p {
    color:#363636;
    font-size:16px;
    line-height:1.8
}
.intro-tagline {
    font-size:20px;
    font-weight:300;
    line-height:1.75;
    margin-bottom:35px
}
.logo a:hover,.logo-footer {
    color:#fff
}
.logo, .logo a {
    font-size:22px;
    font-weight:300;
    text-transform:uppercase
}
.light-section-heading {
    color:#222533;
    font-weight:600;
    margin-bottom:20px;
    padding-bottom:20px;
    position:relative
}

.btn-cta-intro span,
.btn-cta-intro:before {
    transition:all .25s ease-in-out 0
}
#intro p {
    opacity:.75
}
.btn-cta.focus,.btn-cta:focus,.btn-cta:hover {
    color:#f2c351
}
section {
    position:relative
}

header .logo {
    font-weight:700;
    font-size:32px;
    color:#555;
}
#header-wrap,#intro,.header {
    position:relative;
}
.header-top {
    background-color:#efefef;
    padding:5px 0px;
    font-size:12px;
    height:26px;
}
.header-top span {
    padding-left:10px;
}
.header {
    padding-bottom:15px;
    padding-top:15px;
}
#intro {
    -moz-transition:all .25s ease 0s;
    -ms-transition:all .25s ease 0s;
    -o-transition:all .25s ease 0s;
    -webkit-transition:all .25s ease 0s;
    background-color:transparent;
    transition:all .25s ease 0s;
    z-index:2
}
#header-wrap {
    -moz-transition:all .25s ease 0s;
    -ms-transition:all .25s ease 0s;
    -o-transition:all .25s ease 0s;
    -webkit-transition:all .25s ease 0s;
    transition:all .25s ease 0s;
    background-color:#fff;
    border-bottom:1px solid rgba(82,87,135,.2);
    z-index:9
}
#intro-holder {
    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:center
}
body .btn-cta-intro {
    font-weight:700;
    text-transform:uppercase;
    font-style:normal
}
body .btn-cta-intro {
    background-color:#f2c351
}
body .btn-cta {
    backface-visibility:hidden;
    border-radius:100px!important;
    color:#fff;
    font-size:18px;
    letter-spacing:1px;
    padding:20px 40px;
    position:relative;
    font-weight:500!important
}
body .btn-cta-intro:hover {
    background-color:#ffce55;
    color:#fff
}
body .btn-cta-intro a {
    color:#fff;
    text-decoration:none
}
.section-heading {
    line-height:1.4;
    margin-bottom:65px
}
.section-heading:before {
    display:block;
    height:14px;
    margin-bottom:25px;
    text-align:center;
    width:100%
}
#footer {
    background-color:#313233;
    padding-top:30px
}
#footer .footer-copyright-container {
    background-color:#1f1f1f;
    border-top:1px solid #2f2f2f;
    margin-top:25px;
    padding:20px 0
}
#footer .footer-copyright,
#footer p {
    color:rgba(255,255,255,.75)
}
#intro h4,
#intro p,
.intro-title {
    color:#fff;
    margin-top:0
}
.logo {
    color:#000
}
.logo:hover {
    color:#f2c351
}
#footer .widget-title span {
    color:#fff
}
#footer .widget-body a {
    color:rgba(255,255,255,.75);
}
#nav-expander {
    color:#000
}
body .btn-cta-intro:hover span{
    color:#fff
}
div.intro-content {
    padding-bottom:90px;
    padding-top:90px
}
.footer-heart-icon {
    color:#f2c351;
    padding:0 5px;
    position:relative;
    top:1px
}
h1.intro-cta-title {
    padding-bottom:40px;
    margin-bottom:50px;
    color:#ffce55;
    font-size:37px;
    font-weight:700;
    position:relative
}
h1.intro-cta-title:after {
    content:"";
    position:absolute;
    bottom:0;
    width:75px;
    height:4px;
    background-color:#ffce55;
    left:50%;
    margin-left:-37.5px
}
.light-section-heading:after {
    content:"";
    position:absolute;
    bottom:0;
    width:66px;
    height:3px;
    background-color:#ffce55;
    left:50%;
    margin-left:-33px
}
body .btn-cta-intro-outline {
    border-width:2px;
    margin-right:25px!important;
    border-color:#fff
}
.btn-cta-intro-outline.focus,
.btn.btn-cta-intro-outline:focus,
.btn.btn-cta-intro-outline:hover {
    border-color:#ffce55;
    color:#ffce55
}
body a:focus {
    color:#ffce55
}
.screen-reader-text {
    display:none
}
.has-header-image #wp-custom-header img {
    position:fixed;
    height:auto;
    left:50%;
    max-width:1000%;
    min-height:100%;
    min-width:100%;
    min-width:100vw;
    width:auto;
    top:50%;
    padding-bottom:1px;
    -ms-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
div#wp-custom-header:after {
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%
}
#footer {
    z-index:10;
    position:relative
}

.section-a {
    z-index:10;
    position:relative;
    background-color:#f4f4f4;
    border-bottom:1px solid #e3e3e3;
    overflow:hidden;
    padding:90px
}
.section-b {
    z-index:10;
    position:relative;
    background-color:#fff;
    padding:90px
}

#nav-expander .btn {
    min-width:100px;
    margin-left:5px;
}
#nav-expander .btn .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 3px;
    top: -6px;
    border-radius:50%;
}
.round-box {
    margin:0 auto;
    border-radius:50%;
    padding:74px 30px;
    font-size:24px;
    width:240px;
    height:240px;
    font-weight:600;
    line-height:40px;
    box-shadow:0 0px 10px rgba(0,0,0,.9);
}
.round-box.inverse {
    background-color:#4aaaa5;
}
.round-box.warning {
    border-color:#8a6d3b;
}
/* intro icons */
.introicons {
    padding: 20px 20px 50px 20px;
    position: relative;
    background-color:white;
    border-radius:5px;
    margin:60px 0px 0px;
    cursor:pointer;
}

.introicons i {
    position: absolute;
    height: 100px;
    width: 100px;
    font-size: 50px;
    line-height: 80px;
    padding: 5px !important;
    color: #f4f4f4;
    top: 0px;
    left: 50%;
    margin: -60px 0px 0px -50px !important;
    padding: 0px !important;
    border-radius: 50%;
    border: 10px solid #f4f4f4;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.introicons:hover > i {
    border: 10px solid #ffffff;
    -webkit-animation: spinAround 1.5s linear infinite;
    -moz-animation: spinAround 1.5s linear infinite;
    animation: spinAround 1.5s linear infinite;
}

.introicons h6 {
    font-weight: 400;
    font-size: 18px;
    margin: 70px 0px 20px 0px;
    color: #666666;
}
.introicons p{
    line-height:22px;
    font-size:14px;
    font-weight:400;
    color:#A8A8A8;
}
.blue-background {
    background-color:#aee0f1 !important;
}
.green-background {
    background-color:#AFD66D !important;
}
.red-background {
    background-color:#f47e7e !important;
}
.orange-background {
    background-color:#e5a979 !important;
}
.yellow-background {
    background-color:#e3e49d !important;
}
.inverse-background {
    background-color:#4aaaa5;
}
.white-background {
    background-color:#fff;
}
@-webkit-keyframes spinAround {
    from {
	-webkit-transform: rotate(0deg)
    }
    to {
	-webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinAround {
    from {
	-moz-transform: rotate(0deg)
    }
    to {
	-moz-transform: rotate(360deg);
    }
}
@keyframes spinAround {
    from {
	transform: rotate(0deg)
    }
    to {
	transform: rotate(360deg);
    }
}
.reason.yellow {
    margin-top:80px;
    margin-bottom:80px;
}
.reason.yellow .reason-icons {
    background-color:#e3e49d;
    position:absolute;
    right:0px;
}
.reason.yellow .reason-content i {
    font-size:50px;
    color:#e3e49d;
}
.reason.yellow .reason-content p {
    padding-top:18px;
}
.reason.inverse .reason-icons {
    background-color:#4aaaa5;
}
.reason.inverse .reason-content i {
    font-size:50px;
    color:#4aaaa5;
}
.reason.orange .reason-icons {
    background-color:#e5a979;
}
.reason.orange .reason-content i {
    font-size:50px;
    color:#e5a979;
}
.reason.blue .reason-icons {
    background-color:#aee0f1;
}
.reason.blue .reason-content i {
    font-size:50px;
    color:#aee0f1;
}
.reason.blue .reason-content p {
    padding-top:18px;
}
.reason-icons {
    border-radius:50%;
    border:6px solid #efefef;
    margin-bottom:15px;
    width:140px;
    height:140px;
    color:#fff;
    font-size:66px;
    padding:30px;
}
.reason-content {
    padding:40px;
    background-color:#efefef;
    border-radius:5px;
    line-height:30px;
    min-height:140px;
}
.reason-content .l-icon {
    position:absolute;
    top:30px;
    left:30px;
}
.reason-content .r-icon {
    position:absolute;
    bottom:30px;
    right:30px;
}
.figure-box {
    border-radius : 10px;
    background-color:#fff;
    height:300px;
    padding:30px;
    text-align:center;
}
.figure-box i {
    height: 100px;
    width: 100px;
    font-size: 50px;
    line-height: 90px;
    color: #f4f4f4;
    border-radius: 20px;
    border: 5px solid #f4f4f4;
}
.figure-box.red {
    border:3px solid #f47e7e;
}
.figure-box.green {
    border:3px solid #AFD66D;
}
.figure-box.inverse{
    border:3px solid #4aaaa5;
}
.figure-box.orange {
    border:3px solid #e5a979;
}
.figure-box h6 {
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0px 20px 0px;
    color: #666666;
}
.figure-box ul {
    padding-left:0px;
    list-style:none;
}
.figure-box li {
    padding:5px;
    color:#A8A8A8;
}
.pricing-box {
    border-color:#efefef;
    margin:0px;
    padding-left:0px;
    padding-right:0px;
    background-color:#fff;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:997;
}
.pricing-box:first-child {
    -moz-border-radius:3px 0px 0px 3px;
    -ms-border-radius:3px 0px 0px 3px;
    -o-border-radius:3px 0px 0px 3px;
    -webkit-border-radius:3px 0px 0px 3px;
    border-radius:3px 0px 0px 3px;
}
.pricing-box:last-child {
    -moz-border-radius:0px 3px 3px 0px;
    -ms-border-radius:0px 3px 3px 0px;
    -o-border-radius:0px 3px 3px 0px;
    -webkit-border-radius:0px 3px 3px 0px;
    border-radius:0px 3px 3px 0px;
}
.pricing-box > header {
    padding:0px;
    margin:0px;
    background-color:#252525;	
}

.pricing-box:first-child > header {
    -moz-border-radius:3px 0px 0px 0px;
    -ms-border-radius:3px 0px 0px 0px;
    -o-border-radius:3px 0px 0px 0px;
    -webkit-border-radius:3px 0px 0px 0px;
    border-radius:3px 0px 0px 0px;
}

.pricing-box:last-child > header {
    -moz-border-radius:0px 3px 3px 0px;
    -ms-border-radius:0px 3px 3px 0px;
    -o-border-radius:0px 3px 3px 0px;
    -webkit-border-radius:0px 3px 3px 0px;
    border-radius:0px 3px 3px 0px;
}

.pricing-box > header > h3 {
    padding:10px 0px;
    margin:0px;
    color:white;
    font-weight:600;
}
.featured {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
    z-index:999;
}

.pricing-box:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    z-index:998;
}

.featured  > header{
    -moz-border-radius:3px 3px 0px 0px;
    -ms-border-radius:3px 3px 0px 0px;
    -o-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    border-radius:3px 3px 0px 0px;
    background-color:#4aaaa5;
}
.pricing-body{
    padding:20px;
    text-align:left;
}

.price-div {
    padding:10px;
    text-align:center;
}
.pricing-body p {
    font-size:16px;
    color:#999;
    text-align:center;
    line-height:30px;
}
.price-div > span{
    display:block;	
    font-size:16px;
    color:#999;
    text-align:center;
    width:100%;
}

.price-div > span.price {
    font-size:28px;
    font-weight:400;
    color:#666666;
    line-height:72px;
}
.price-div > span.bottom {
    padding-bottom:30px;
    border-bottom:1px solid #E7E7E7;
}
.preview-box {
    height:500px;
    background-color:#fff;
    padding-top:60px;
}
.preview-box img {
    height:400px !important;
    display:inline !important;
}
.preview-box .carousel-control {
    background-color:transparent;
    background-image:none;
}
.preview-box .carousel-inner .item {
    text-align:center;
}
.preview-box .carousel-caption {
    padding-bottom:0px !important;
    color:#efefef;
    right:0px !important;
    text-shadow:none;
}
.preview-box .left,
.preview-box .right {
    color:#555;
}
.preview-box h3 {
    line-height:40px;
    font-size:18px;
    text-align:left;
    margin-left:14px;
}
.preview-box h3 span {
    background-color:#f2c351;
    padding:0px 20px;
}
#tour .modal-lg,
#signup .modal-lg {
    width:400px !important;
}
.tour-box {
    background: rgba(39, 44, 51, 1);
    padding: 10px 10px 20px 10px;
    border-top: 0;
    color: #fff;
    border-radius: 4px;
}
.tour-box .close {
    color:#fff;
    text-shadow:none;
    opacity:.5;
}
.tour-box .form-group {
    position:relative;
}
.tour-box .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#3e4e56), to(#3e4e56));
    background-image: -webkit-linear-gradient(#398bf7 , #398bf7), -webkit-linear-gradient(#3e4e56, #3e4e56);
    background-image: -o-linear-gradient(#398bf7 , #398bf7), -o-linear-gradient(#3e4e56, #3e4e56);
    background-image: linear-gradient(#398bf7 , #398bf7), linear-gradient(#3e4e56, #3e4e56);
    border: 0;
    border-radius: 0;
    color:#67757c;
    min-height:38px;
    display:initial;
    background-color:transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding:0;
    -webkit-transition: background 0s ease-out 0s;
    -o-transition: background 0s ease-out 0s;
    transition: background 0s ease-out 0s;
}
.tour-box .form-control:focus {
    background-size: 100% 2px, 100% 1px;
    outline: 0;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#398bf7), to(#398bf7)), -webkit-gradient(linear, left top, left bottom, from(#3e4e56), to(#3e4e56));
    background-image: -webkit-linear-gradient(#398bf7 , #398bf7), -webkit-linear-gradient(#3e4e56, #3e4e56);
    background-image: -o-linear-gradient(#398bf7 , #398bf7), -o-linear-gradient(#3e4e56, #3e4e56);
    background-image: linear-gradient(#398bf7 , #398bf7), linear-gradient(#3e4e56, #3e4e56);
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float:none;
}
.tour-box .form-group span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color:#67757c;
    line-height:35px;
}
.tour-box .form-group .expl {
    font-size:12px;
    margin-top:3px;
    text-align:right;
}
.box-msg p {
    text-align:center;
    color:#67757c;
    line-height:1.5;
}
.box-msg small {
    font-size:80%;
}
@media (max-width: 1199px) {
    .preview-box h3 {
	margin-left:-50px;
    }
}
@media (max-width:767px) {
    div.intro-content {
	padding:0px;
    }
    h1.intro-title {
	font-size:30px
    }
    h1.intro-cta-title {
	padding-bottom:25px;
	margin-bottom:35px;
	font-size:20px
    }
    .intro-tagline {
	font-size:16px;
    }
    .intro-content {
	top:0;
	-ms-transform:translateY(0);
	-webkit-transform:translateY(0);
	transform:translateY(0)
    }
    #intro-holder {
	height:auto;
	min-height:0;
    }
    body .btn-cta-intro-outline {
	margin-right:10px !important
    }
    body .btn-cta {
	padding:20px;
	font-size:16px;
    }
    section#intro {
	padding-top:50px;
	padding-bottom:50px;
    }
    .has-header-image #wp-custom-header img {
	left:0;
	top:0;
    }
    div#wp-custom-header:after {
	display:none;
    }
    .section-a, .section-b {
	padding:10px;
    }
    .section-heading {
	margin-bottom:10px;
    }
    h2 {
	font-size:24px;
    }
    .reason-icons {
	width:90px;
	height:90px;
	font-size:30px;
	padding:24px;
	margin:10px auto;
    }
    .reason-content {
	padding:15px;
	min-height:auto;
    }
    .reason-content .l-icon,
    .reason-content .r-icon {
	display:none;
    }
    .reason {
	margin-top:0px !important;
	margin-bottom:30px !important;
    }
    .reason-content p {
	padding-bottom:0px;
	margin:0px;
	font-size:14px;
    }
    .reason.yellow .reason-icons {
	position:relative;
    }
    .figure-box {
	padding:10px;
    }
    .featured {
	-webkit-transform: scale(1.0, 1.0);
	-moz-transform: scale(1.0, 1.0);
	-o-transform: scale(1.0, 1.0);
	-ms-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0);
    }
    .pricing-box:hover{
	-webkit-transform: scale(1.0, 1.0);
	-moz-transform: scale(1.0, 1.0);
	-o-transform: scale(1.0, 1.0);
	-ms-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0);
	z-index:998;
    }
    .preview-box img {
	height:auto !important;
	margin-left:10px;
    }
    .preview-box {
	width:100%;
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
	background-color:transparent;
    }
    .col-xs-6 {
	padding-right:5px;
	padding-left:5px;
	margin-bottom:5px;
    }
    #tour .modal-lg,
    #signup .modal-lg {
	width:90% !important;
    }
}
