<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="allim">
	<select id="timeAllimSelect" resultType="allimDto">
		select * from swc_allim where readCheck = 0 and compNo = #{compNo}
		<choose>
			<when test='allimRole != "S" and allimRole != "A"'>
				and userNo = #{userNo}
			</when>
			<otherwise>
				and allimRole = #{allimRole}
			</otherwise>
		</choose>
		order by allimNo desc;
	</select>
	
	<insert id="insertAllim">
		insert into swc_allim(
	    	userNo,
	    	compNo,
	    	allimRole,
	    	allimContents,
	    	allimPath,
	    	regDateTime
	    ) values (
	    	#{userNo},
	    	#{compNo},
	    	#{allimRole},
	    	#{allimContents},
	    	#{allimPath},
	    	now()
	    );
	</insert>
	
	<update id="allimReadUpdate">
		update swc_allim set readCheck = #{readCheck} where allimNo = #{allimNo}
	</update>
</mapper>