<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board_file">

 
 <insert id="board_file_insert" >
 	insert into `swc_board_file` (bf_Title, bf_Contents, userNo)
 	values (#{bf_Title}, #{bf_Contents} , #{userNo});
 </insert>
 
 <select id="board_file_list" resultType="kr.swcore.sderp.board_file.dto.Board_fileDTO">
 	select row_number() over(order by bf_pk asc ) as row_num, subquery1.*
	from
		(
		select a.*, b.userName, b.compNo
		from swc_board_file a
		left join swc_user b on a.userNo = b.userNo
		where b.compNo = 100001 or b.compNo = 100002
		<if test="userName != null and userName != ''">
			and b.userName like concat('%',#{userName},'%')
		</if>
		<if test="bf_Title != null and bf_Title != ''">
			and a.bf_Title like concat('%',#{bf_Title},'%')
		</if>
		<if test="bf_Contents != null and bf_Contents != ''">
			and a.bf_Contents like concat('%',#{bf_Contents},'%')
		</if>
		<if test="regSDate != null and regSDate != ''">
			and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[>=]]> #{regSDate}
		</if>
		<if test="regEDate != null and regEDate != ''">
			and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[<=]]> #{regEDate}
		</if>
		<if test="listDateFrom != null and listDateFrom != ''">
			and a.regDatetime Between #{listDateFrom} and now()
		</if>
		) subquery1 where userName IS NOT NULL
	<if test="sSearch != null and sSearch != ''">
	where
		date_format(subquery1.regDatetime, '%Y-%m-%d') like concat('%',#{sSearch},'%')
		or subquery1.bf_Title like concat('%',#{sSearch},'%')
		or subquery1.bf_Contents like concat('%',#{sSearch},'%')
	</if>

	<if test="'desc' == orderOption">
		order by ${orderColumn} desc
	</if>
	<if test="'asc' == orderOption">
		order by ${orderColumn} asc
	</if>
	<if test="limit > 0">
	limit #{limit} offset #{offset}
	</if>
 </select>
 
 <select id="board_file_detail" resultType="kr.swcore.sderp.board_file.dto.Board_fileDTO">
 	select * from `swc_board_file` 
	join `swc_user` on swc_board_file.userNo = swc_user.userNo
 	WHERE `bf_pk` = #{bf_pk};
 </select>
 
 <update id="board_file_delete">
	delete from  `swc_board_file`
	where bf_pk=#{bf_pk};
 </update>
 
 <update id="board_file_update">
	update  `swc_board_file`
	set 
	 bf_Title=#{bf_Title},
	bf_Contents=#{bf_Contents}
	where bf_pk=#{bf_pk} 
 </update>
 <!-- 업로드 파일 --><!-- 업로드 파일 --><!-- 업로드 파일 --><!-- 업로드 파일 --><!-- 업로드 파일 -->
 <select id="listFile" resultType="board_fileDataDTO">
 	select *
 	from swc_noticefiledata
 	join `swc_user` on swc_noticefiledata.userNo = swc_user.userNo
 	where bf_pk=#{bf_pk} and `swc_noticefiledata`.attrib not like 'XXX%'
	order by uploadDate desc
</select>

<insert id="uploadFile">
	insert into swc_noticefiledata
	(
		fileId,
		fileName,
		fileDesc,
		uploadDate,
		fileContent,
		fileExtention,
		fileSize,
		bf_pk,
		userNo,
		regDatetime,
		attrib
	)
 	values 
 	(
 		#{fileId},
 		#{fileName},
 		#{fileDesc},
 		now(),
 		#{fileContent},
 		#{fileExtention},
 		#{fileSize},
 		#{bf_pk},
 		#{userNo},
 	 	now(),
		10000
 	)
 </insert>
 <!-- 업로드 파일 --><!-- 업로드 파일 --><!-- 업로드 파일 --><!-- 업로드 파일 -->
 
 <select id="board_filedata_detail" resultType="kr.swcore.sderp.board_file.dto.Board_fileDataDTO">
 	select * from `swc_noticefiledata`
 	join `swc_user` on swc_noticefiledata.userNo = swc_user.userNo
 	where `bf_pk` = #{bf_pk}
 	order by uploadDate desc;
 </select>
 
 <select id="board_file_name" resultType="kr.swcore.sderp.board_file.dto.Board_fileDataDTO">
 	select `userName` from `swc_user`
 	where `userNo` = #{userNo};
 </select>
 
 
 <select id="downloadFile" resultType="board_fileDataDTO">
	select *
	from swc_noticefiledata  
	where fileId = #{fileId} and bf_pk= #{bf_pk}
</select>

<delete id="deleteFile">
	delete from swc_noticefiledata
	where fileId = #{fileId} and bf_pk=#{bf_pk}
</delete>		
</mapper>