<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cont">

<select id="listCont"
 		resultType="contDto">
 		select a.*, b.userName , c.custName, d.desc03 contTypeN, g.desc03 cntrctMthN
 		from swc_cont a
		left join swc_user b on a.userNo = b.userNo
		left join swc_cust c on a.custNo = c.custNo
		left join swc_code d on a.contType = d.codeNo
 		left join swc_code g on a.cntrctMth = g.codeNo
		where a.attrib not like 'XXX%' and a.compNo = #{compNo}
		order by regDatetime desc
		<if test="limit > 0">
			limit  #{limit} offset #{offset}
		</if>
 </select>
 
 <select id="listconCont"
 		resultType="contDto">
 		select a.*, b.userName , c.custName, d.desc03 contTypeN, g.desc03 cntrctMthN
		from
			 <choose>
				 <when test="freemaintSdate != null and freemaintSdate != '' and freemaintEdate != null and freemaintEdate != ''">
					 (
					 select *
					 from swc_cont
					 where (
					 date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and
					 date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate}
					 )
					 UNION
					 select *
					 from swc_cont
					 where (
					 date_format(freemaintEdate, '%Y-%m-%d') <![CDATA[>=]]> #{freemaintSdate} and
					 date_format(freemaintSdate, '%Y-%m-%d') <![CDATA[<=]]> #{freemaintEdate}
					 )
					 ) a
				 </when>
				 <otherwise>
					 swc_cont a
				 </otherwise>
			 </choose>
		left join swc_user b on a.userNo = b.userNo
		left join swc_cust c on a.custNo = c.custNo
		left join swc_code d on a.contType = d.codeNo
		left join swc_code g on a.cntrctMth = g.codeNo
		where a.attrib not like 'XXX%' and a.compNo = #{compNo}
		<choose>
			<when test="soppNo != 0">and a.soppNo != 0</when>
			<when test="exContNo != 0">and a.exContNo != 0</when>
		</choose>
		<if test="custNo != null and custNo != ''">
 		 	and a.custNo = #{custNo}
 		</if>
 		<if test="ptncNo != null and ptncNo != ''">
 		 	and a.ptncNo = #{ptncNo}
 		</if>
 		<if test="supplyNo != null and supplyNo != ''">
 		 	and a.supplyNo = #{supplyNo}
 		</if>
 		<if test="buyrNo != null and buyrNo != ''">
 		 	and a.buyrNo = #{buyrNo}
 		</if>
 		<if test="contTitle != null and contTitle != ''">
 		 	and a.contTitle like CONCAT('%', #{contTitle}, '%')
 		</if>
		<if test="cntrctMth != null and cntrctMth != ''">
		    and a.cntrctMth = #{cntrctMth}
		</if>
 		<if test="contType != null and contType != ''">
 		 	and a.contType = #{contType}
 		</if>
 		<if test="targetDatefrom != null and targetDatefrom != ''">
 		 	and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[>=]]> #{targetDatefrom}
 		</if>
 		<if test="targetDateto != null and targetDateto != ''">
 			and date_format(a.contOrddate, '%Y-%m-%d') <![CDATA[<=]]> #{targetDateto}
 		</if>
		<if test="regSDate != null and regSDate != ''">
			 and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[>=]]> #{regSDate}
		</if>
		<if test="regEDate != null and regEDate != ''">
			 and date_format(a.regDatetime, '%Y-%m-%d') <![CDATA[<=]]> #{regEDate}
		</if>
 		<if test="userName != null and userName != ''">
 		 	and b.userName like CONCAT('%', #{userName}, '%')
 		</if>
		<if test="userNo != null and userNo != ''">
			 and b.userNo = #{userNo}
		</if>
 		<if test="businessType != null and businessType != ''">
 		 	and a.businessType = #{businessType}
 		</if>
		 order by regDatetime desc
 </select>

<select id="detailCont"
 		resultType="contDto">
	select a.*,
		   b.userName ,
		   c.soppTitle,
		   d.custMName as custmemberName,
	       e.desc03 as cntrctMthN,
	       (select custName from swc_cust where custNo = a.custNo) custName,
		   (select q.custMname from swc_custData03 q where q.custData03no = a.custMemberNo) custMemberName,
	       (select custName from swc_cust where custNo = a.buyrNo) buyrName,
	       (select q.custMname from swc_custData03 q where q.custData03no = a.buyrMemberNo) buyrMemberName,
		   (select custName from swc_cust where custNo = a.ptncNo) ptncName,
		   (select custName from swc_cust where custNo = a.supplyNo) supplyName,
		   (select contTitle from swc_cont where contNo = a.exContNo) exContName
	from swc_cont a
			 left join swc_user b on a.userNo = b.userNo
			 left join swc_sopp c on a.soppNo = c.soppNo
			 left join swc_custData03 d on a.custmemberNo = d.custData03no
			 left join swc_code e on a.cntrctMth = e.codeNo
	where a.attrib not like 'XXX%' and a.contNo=#{contNo} order by a.contNo
</select>

<select id="listSalesTargetMonthIndividual"
		resultType="contDto">
	select
		count(*) contTypeCount
	from swc_cont a
			 left join swc_code b on a.contType = b.codeNo
	where a.compNo = #{compNo}
	  and a.attrib not like 'XXX%'
	  and date_format(a.contOrddate, '%Y-%m') = CONCAT(#{targetYear},'-',#{targetMonth})
	  and a.userNo = #{userNo}
	  and a.contType = #{contType}
</select>
 
 <insert id="insertCont">
 insert into swc_cont (contTitle, contDesc, compNo, soppNo, exContNo, userNo, custNo, custmemberNo, ptncNo, supplyNo, contOrddate,
                       supplyDate, delivDate, contAmt, freemaintSdate, freemaintEdate, paymaintSdate, paymaintEdate, vatYn, contArea, cntrctMth,
                       contType,net_profit ,attrib, buyrNo, buyrMemberNo
                       )
 values (#{contTitle}, #{contDesc}, #{compNo}, #{soppNo}, #{exContNo}, #{userNo}, #{custNo}, #{custmemberNo}, #{ptncNo}, #{supplyNo}, #{contOrddate},
         #{supplyDate}, #{delivDate}, #{contAmt}, #{freemaintSdate}, #{freemaintEdate}, #{paymaintSdate}, #{paymaintEdate}, #{vatYn}, #{contArea}, #{cntrctMth},
         #{contType}, #{net_profit},'100000', #{buyrNo}, #{buyrMemberNo}
         )
 </insert>

 <update id="updateCont">
	update swc_cont 
	set 
	contTitle=#{contTitle},
	contDesc=#{contDesc}, 
	soppNo=#{soppNo}, 
	userNo=#{userNo}, 
	custNo=#{custNo}, 
	custmemberNo=#{custmemberNo}, 
	ptncNo=#{ptncNo}, 
	supplyNo=#{supplyNo}, 
	contOrddate=#{contOrddate}, 
	supplyDate=#{supplyDate}, 
	delivDate=#{delivDate}, 
	contAmt=#{contAmt},
	freemaintSdate=#{freemaintSdate}, 
	freemaintEdate=#{freemaintEdate},
	paymaintSdate=#{paymaintSdate},
	paymaintEdate=#{paymaintEdate},
	vatYn=#{vatYn}, 
	contArea=#{contArea},
	cntrctMth=#{cntrctMth},
	contType=#{contType},
	net_profit=#{net_profit},
	modDatetime=now()
	where contNo=#{contNo}
	
 </update>
 
 <delete id="deleteCont">
	update swc_cont 
	set attrib = 'XXXXX'
	where contNo=#{contNo}
 </delete>
 		
</mapper>