<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gw">

	<select id="listDoc" resultType="gwDto">
	    select a.*, b.userName from swc_businessdoc a left join swc_user b on a.docCrUserNo = b.userNo left join swc_businessdocapp c on a.docNo = c.docNo where a.attrib not like 'XXX%' and c.compNo = #{compNo} and a.docStatus != 1;
	</select>

    <select id="detailDoc" resultType="gwDto">
        select a.*, b.soppTitle, c.custName, c.custVatNo, c.custBossname, d.userName from swc_businessdoc a left join swc_sopp b on a.linkSoppNo = b.soppNo left join swc_cust c on a.linkCustNo = c.custNo left join swc_user d on a.docCrUserNo = d.userNo where a.attrib not like 'XXX%' and a.docNo=#{docNo};
    </select>
    
    <select id="detailDocApp" resultType="gwDto">
        select a.*, b.userName, b.userTel, b.userEmail from swc_businessdocapp a left join swc_user b on a.userNoIS = b.userNo where a.attrib not like 'XXX%' and a.docNo=#{docNo};
    </select>
    
    <select id="detailDocData" resultType="gwDto">
        SELECT a.*, b.appStatus, b.userNoCR from swc_businessdocdata a 
		LEFT JOIN swc_businessdocapp b ON a.docNo = b.docNo 
		WHERE a.attrib not like 'XXX%' AND b.attrib not like 'XXX%' AND a.docNo=#{docNo} order by productDate desc; 
    </select>
    
    <select id="selectVersion" resultType="gwDto">
        select IFNULL(MAX(estVer), 0)+1 as getVersion from swc_estitems where estId = #{estId} and compNo = #{compNo};
    </select>
    
    <select id="selectVersionEst" resultType="gwDto">
        select IFNULL(MAX(estVer), 0) as getVersion from swc_est where estId = #{estId} and compNo = #{compNo};
    </select>
    
    <select id="infoGetItem" resultType="gwDto">
    	select * from swc_estInfo where estId = #{estId} and estVer = #{estVer} and attrib not like 'XXX%' order by estId desc limit 1;
    </select>

	<select id="allComList" resultType="gwDto">
		select * from swc_comInfo
		<if test="comInfoNo != null and comInfoNo != ''">
			where comInfoNo = #{comInfoNo}
		</if>
		 order by comInfoNo asc;
	</select>

    <insert id="insertest" useGeneratedKeys="true" keyProperty="getId">
    	<selectKey keyProperty="getId" resultType="int" order="AFTER">
	        SELECT max(estNo) from swc_est
	    </selectKey>
	    insert into swc_est(
	    	estTitle,
	    	estType,
	    	custNo,
	    	soppNo,
	    	compNo,
	    	userNo,
	    	estAmount,
	    	estVat,
	    	estTotal,
	    	estDate,
	    	attrib
	    ) values (
	    	#{estTitle},
	    	#{estType},
	    	#{custNo},
	    	#{soppNo},
	    	#{compNo},
	    	#{userNo},
	    	#{estAmount},
	    	#{estVat},
	    	#{estTotal},
	    	#{estDate},
	        '10000'
	    );
    </insert>
    
    <!-- <update id="updateest">
		update swc_est set
			attrib = 'XXXXX',
			modDate = now()
		where estId = #{estId};
		
		update swc_estitems set
			attrib = 'XXXXX',
			modDate = now()
		where estId = #{estId};
	</update> -->

    <insert id="insertestitems">
	    insert into swc_estitems(
	    	estId,
	    	estVer,
	    	itemKinds,
	    	itemTitle,
	    	custNo,
	    	compNo,
	    	productNo,
	    	productName,
	    	productSpec,
	    	productQty,
	    	productNetprice,
	    	productVat,
	    	productAmount,
	    	productTotal,
	    	productRemark,
	    	regDate,
	    	attrib
	    ) values (
	    	#{estId},
	    	#{estVer},
	    	#{itemKinds},
	    	#{itemTitle},
	    	#{custNo},
	    	#{compNo},
	    	#{productNo},
	    	#{productName},
	    	#{productSpec},
	    	#{productQty},
	    	#{productNetprice},
	    	#{productVat},
	    	#{productAmount},
	    	#{productTotal},
	    	#{productRemark},
	    	now(),
	        '10000'
	    );
    </insert>

	<insert id="estInfoInsert">
	    insert into swc_estInfo(
	    	estId,
	    	estVer,
	    	userNo,
	    	compNo,
	    	estComName,
	    	estComBoss,
	    	estComAdd,
	    	estComPhone,
	    	estComFax,
	    	estComTerm,
	    	estComSpec,
	    	regDate,
	    	attrib
	    ) values (
	    	#{estId},
	    	#{estVer},
	    	#{userNo},
	    	#{compNo},
	    	#{estComName},
	    	#{estComBoss},
	    	#{estComAdd},
	    	#{estComPhone},
	    	#{estComFax},
	    	#{estComTerm},
	    	#{estComSpec},
	        now(),
	        '10000'
	    );
    </insert>
    
    <update id="update_estitems_Data">
    	update swc_estitems set estVer = #{estVer}
    	where estId = #{estId} and attrib not like 'xxx%';
    </update>

	<update id="update_estitems_Data_x">
		update swc_estitems set attrib = 'XXXXX'
    	where estId = #{estId} and estVer = #{estVer}
	</update>

	<update id="deleteest">
		update swc_est set
			attrib = "XXXXX",
		    ModDate = now()
		where estId = #{estId};
		
		update swc_estitems set
			attrib = "XXXXX",
		    ModDate = now()
		where estId = #{estId};
		
		update swc_estinfo set
			attrib = "XXXXX"
		where estId = #{estId};
	</update>
	
	<update id="insertEstUpdate">
		<selectKey resultType="int" keyProperty="estVer" order="BEFORE">
				select IFNULL(MAX(estVer), 0)+1 from swc_est where estId = #{estId} and compNo = #{compNo}
	 	</selectKey>
		update swc_est set
		estId = #{estId},
		estVer = #{estVer}
		where estNo = #{estNo};
	</update>
	
	<update id="estInfoUpdate">
		update swc_estInfo set
		attrib = 'XXXXX'
		where estId = #{estId} and estVer = #{estVer} and compNo = #{compNo};
	</update>

	<select id="listest" resultType="gwDto">
		SELECT a.*, b.custName, c.userName FROM swc_est a left join swc_cust b on a.custNo = b.custNo left join swc_user c on a.userNo = c.userNo WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est where compNo = #{compNo} and attrib not like 'XXX%' GROUP BY estId) order by a.estNo desc;
	</select>
	
	<select id="listsearchest" resultType="gwDto">
		SELECT a.*, b.custName, c.userName
		from swc_est a
		left join swc_cust b on a.custNo = b.custNo 
		left join swc_user c on a.userNo = c.userNo
		WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est 
		where compNo = #{compNo} and attrib not like 'XXX%' 
		<if test="custNo != null and custNo != ''">
 		 	and a.custNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and c.userName like CONCAT('%', #{userName}, '%')
 		</if>
 		<if test="listDateFrom != null and listDateFrom != ''"> 
 			and a.estDate Between #{listDateFrom} and now()
 		</if>  
		GROUP BY estId) order by a.estNo desc
	</select>

	<select id="detailest" resultType="gwDto">
		select a.*, b.custName, b.custBossname, c.soppTitle, d.userName, d.userTel, d.userEmail from swc_est a LEFT JOIN swc_cust b ON a.custNo = b.custNo LEFT JOIN swc_sopp c ON a.soppNo = c.soppNo left join swc_user d on a.userNo = d.userNo where a.estId=#{estId} and a.estVer = #{estVer} limit 1;
	</select>

	<select id="listestitems" resultType="gwDto">
		select a.*, b.custName from swc_estitems a LEFT JOIN swc_cust b ON a.custNo = b.custNo where a.estId = #{estId} and a.estVer = #{estVer} and a.attrib not like 'XXX%' order by a.estItemNo asc;
	</select>
	
	<select id="titleGroupBy" resultType="gwDto">
		SELECT *, SUM(productVat) AS vatTotal, SUM(productAmount) AS amountTotal, SUM(productTotal) AS titleTotal from swc_estitems where estId = #{estId} and estVer = #{estVer} and attrib not like 'XXX%' GROUP BY itemTitle ORDER BY estItemNo asc;
	</select>

	<select id="myList" resultType="gwDto">
		select a.*, b.appStatus, c.custName from swc_businessdoc a left join swc_businessdocapp b on a.docNo = b.docNo left join swc_cust c on a.linkCustNo = c.custNo where a.attrib not like 'XXX%' and a.docCrUserNo = #{docCrUserNo} ORDER BY docDate DESC;
	</select>
	
	<select id="comList" resultType="gwDto">
		select * from swc_comInfo where comInfoNo = 1;
	</select>
	
	<select id="mySearchList" resultType="gwDto">
		select a.*, b.appStatus from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo
		left join swc_user c on a.docCrUserNo = c.userNo
		where a.attrib not like 'XXX%' and a.docCrUserNo = #{docCrUserNo}
		<if test="custNo != null and custNo != ''">
 		 	and a.linkCustNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and c.userName like CONCAT('%', #{userName}, '%')
 		</if>
 		<if test="vatSdate != null and vatSdate != ''">
 		 	and a.docDate BETWEEN #{vatSdate} and #{vatEdate}
 		</if>;
	</select>
	
	<select id="myDocList" resultType="gwDto">
		select a.*, c.userName as userIsName, b.appStatus, d.custName, e.userName as firstUser from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo 
		left join swc_user c on c.userNo = b.userNoIS 
		left join swc_cust d on a.linkCustNo = d.custNo
		left join swc_user e on a.docCrUserNo = e.userNo
		where a.attrib not like 'XXX%' and b.compNo = #{compNo} and a.docStatus BETWEEN 2 and 3 and b.appStatus BETWEEN 2 and 5 order by a.docNo desc;
	</select>
	
	<select id="myDocSerchList" resultType="gwDto">
		select a.*, c.userName as userIsName, b.appStatus, d.custName, e.userName as firstUser from swc_businessdoc a 
		left join swc_businessdocapp b on a.docNo = b.docNo 
		left join swc_user c on c.userNo = b.userNoIS 
		left join swc_cust d on a.linkCustNo = d.custNo
		left join swc_user e on a.docCrUserNo = e.userNo
		where a.attrib not like 'XXX%' and b.compNo = #{compNo}
		<if test="withdraw_status == 1">
			and a.docDrawStatus = 0 and (a.docFormNo = 'TREQ' or a.docFormNo = 'BREQ')
		</if>
		<if test ="withdraw_status == 2">
			and a.docDrawStatus = 1
		</if>
		<if test="custNo != null and custNo != ''">
 		 	and a.linkCustNo = #{custNo}
 		</if>
		<if test="userName != null and userName != ''">
 		 	and e.userName like CONCAT('%', #{userName}, '%')
 		</if>
 		<if test="vatSdate != null and vatSdate != ''">
 		 	and a.docDate BETWEEN #{vatSdate} and #{vatEdate}
 		</if>
 		<if test="selectoption != null and selectoption  != ''">
 			<choose>
 				<when test="selectoption == 1">
 					and a.docType = "PUR"
 				</when>
 				<when test="selectoption == 2">
 					and a.docType = "COST"
 				</when>
 				<when test="selectoption == 3">
 					and a.docType = "DIP"
 				</when>
 				<when test="selectoption == 4">
 					and a.docType = "TRS"
 				</when>
 			</choose>
 		</if>
		and a.docStatus BETWEEN 2 and 3 and b.appStatus BETWEEN 2 and 5 and b.appStatus != 3 order by a.docNo desc;
	</select>
	
	<select id="getEstSopp" resultType="gwDto">
		SELECT a.*, b.custName, c.userName FROM swc_est a left join swc_cust b on a.custNo = b.custNo left join swc_user c on a.userNo = c.userNo WHERE(estId, estVer) IN (SELECT estId, MAX(estVer) FROM swc_est where soppNo = #{soppNo} and compNo = #{compNo} and attrib not like 'XXX%' GROUP BY estId);
	</select>

	<insert id="insertDoc" useGeneratedKeys="true" keyProperty="getId">
		<selectKey keyProperty="getId" resultType="int" order="AFTER">
	        SELECT max(docNo) from swc_businessdoc
	    </selectKey>
		insert into swc_businessdoc (
			docCrUserNo,
			docAppLvl,
			docType,
			docTitle,
			docStatus,
			linkSoppNo,
			linkCustNo,
			linkMasterdocNo,
			docDesc,
			docFormNo,
			docAmount,
			docDate,
			regDate,
			attrib
		) values (
		 	#{docCrUserNo},
		 	#{docAppLvl},
		 	#{docType},
		 	#{docTitle},
		 	#{docStatus},
		 	#{linkSoppNo},
		 	#{linkCustNo},
		 	#{linkMasterdocNo},
		 	#{docDesc},
		 	#{docFormNo},
		 	#{docAmount},
		 	#{docDate},
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="myDocCopyInsert" useGeneratedKeys="true" keyProperty="getId">
		<selectKey keyProperty="getId" resultType="int" order="AFTER">
	        SELECT max(docNo) from swc_businessdoc
	    </selectKey>
		insert into swc_businessdoc
		(
			docCrUserNo, 
			docAppLvl, 
			docType, 
			docTitle, 
			docStatus, 
			linkSoppNo, 
			linkCustNo, 
			linkMasterdocNo, 
			docDesc, 
			docFormNo, 
			docAmount, 
			docDate, 
			regDate, 
			modDate, 
			attrib
		) 
		select 
			docCrUserNo, 
			docAppLvl,
			docType, 
			docTitle, 
			#{docStatus}, 
			linkSoppNo, 
			linkCustNo, 
			linkMasterdocNo, 
			docDesc, 
			docFormNo, 
			docAmount, 
			docDate, 
			regDate, 
			now(), 
			'10000' 
		from swc_businessdoc 
		where docNo = #{docNo};
	</insert>
	
	<insert id="myDocCopyInsertApp">
		insert into swc_businessdocapp
		(
			compNo, 
			docNo, 
			appLine, 
			userNoCR, 
			userNoIS, 
			userNoAPP, 
			appStatus, 
			issueDate, 
			appDate, 
			appComment, 
			regDate, 
			modDate, 
			attrib
		) 
		select 
			compNo, 
			#{docNo}, 
			appLine, 
			userNoCR, 
			#{userNoIS}, 
			userNoAPP, 
			5, 
			issueDate, 
			appDate, 
			appComment, 
			regDate, 
			now(), 
			'10000' 
		from swc_businessdocapp 
		where docNo = #{tempId};
	</insert>
	
	<insert id="myDocCopyInsertData">
		insert into swc_businessdocdata
		(
			docNo, 
			custName, 
			productName, 
			productNetprice, 
			productQty, 
			productAmount, 
			productVat, 
			productTotal, 
			productRemark, 
			productDate,
			regDate, 
			modDate, 
			attrib
		) 
		select 
			#{docNo}, 
			custName, 
			productName, 
			productNetprice, 
			productQty, 
			productAmount, 
			productVat, 
			productTotal, 
			productRemark, 
			productDate,
			regDate, 
			now(), 
			'10000' 
		from swc_businessdocdata 
		where docNo = #{tempId} and attrib = '10000';
	</insert>
	
	<insert id="insertDocApp">
		insert into swc_businessdocapp (
			compNo,
			docNo,
			userNoCR,
			userNoIS,
			userNoAPP,
			appStatus,
			<if test="appDate != '' and appDate != null">
				appDate,
				appComment,
			</if>
			regDate,
			attrib
		) values (
		 	#{compNo},
		 	#{docNo},
		 	#{userNoCR},
		 	#{userNoIS},
		 	#{userNoAPP},
		 	#{appStatus},
		 	<if test="appDate != '' and appDate != null">
				#{appDate},
				#{appComment},
			</if>
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="insertDocData">
		insert into swc_businessdocdata (
			docNo,
			docAppSerial,
			custName,
			productName,
			productNetprice,
			productQty,
			productAmount,
			productVat,
			productTotal,
			productRemark,
			productDate,
			regDate,
			attrib
		) values (
		 	#{docNo},
		 	#{docAppSerial},
		 	#{custName},
		 	#{productName},
		 	#{productNetprice},
		 	#{productQty},
		 	#{productAmount},
		 	#{productVat},
		 	#{productTotal},
		 	#{productRemark},
		 	#{productDate},
		 	now(),
		 	'10000'
	 	);
	</insert>
	
	<insert id="uploadFile">
		insert into swc_businessfiledata
		(
			fileId,
			fileName,
			fileDesc,
			uploadDate,
			fileContent,
			fileExtention,
			fileSize,
			docNo,
			userNo,
			regDatetime,
			attrib
		)
	 	values 
	 	(
	 		#{fileId},
	 		#{fileName},
	 		#{fileDesc},
	 		now(),
	 		#{fileContent},
	 		#{fileExtention},
	 		#{fileSize},
	 		#{docNo},
	 		#{userNo},
	 	 	now(),
			10000
	 	)
	</insert>
	
	<update id="uploadFileUpdate">
		update swc_businessfiledata set
			fileId = #{fileId},
			fileName = #{fileName},
			fileDesc = #{fileDesc},
			fileContent = #{fileContent},
			userNo = #{userNo},
			ModDatetime = now()
		where docNo = #{docNo}
	</update>
	
	<delete id="deletefile">
		delete from swc_businessfiledata 
		where docNo = #{docNo};
	</delete>
	
	<update id="updateFile">
		update swc_businessfiledata set
			docNo = #{updateNo},
			ModDatetime = now(),
			attrib = '10000'
		where docNo = #{docNo}
	</update>
	
	<select id="listFile" resultType="gwFileDataDTO">
	 	select * from swc_businessfiledata
	 	where docNo=#{docNo}
	 	and attrib not like 'XXX%'
		order by uploadDate desc
	</select>
	
	<select id="downloadFile" resultType="gwFileDataDTO">
		select * from swc_businessfiledata  
		where fileId = #{fileId} and docNo=#{docNo}
	</select>
	
	<update id="updateDoc">
		update swc_businessdoc set
			docType = #{docType},
			docTitle = #{docTitle},
			linkSoppNo = #{linkSoppNo},
			linkCustNo = #{linkCustNo},
			docDesc = #{docDesc},
			docAmount = #{docAmount},
			docFormNo = #{docFormNo},
			docDate = #{docDate},
			ModDate = now()
		where docNo = #{docNo};
	</update>
	
	<update id="myDocListUpdate">
		update swc_businessdoc set
			ModDate = now(),
			attrib = 'XXXXX'
		where docNo = #{docNo} and attrib not like 'XXX%';
		
		update swc_businessdocapp set
			ModDate = now(),
			attrib = 'XXXXX'
		where docNo = #{docNo} and attrib not like 'XXX%';
		
		update swc_businessdocdata set
			ModDate = now(),
			attrib = 'XXXXX'
		where docNo = #{docNo} and attrib not like 'XXX%';
	</update>
	
	<update id="updateDocApp">
		update swc_businessdocapp set
			userNoAPP = #{userNoAPP},
			appStatus = #{appStatus},
			appDate = #{appDate},
			appComment = #{appComment},
			ModDate = now()
		where docNo = #{docNo};
	</update>
	
	<update id="updateDocData">
		update swc_businessdocdata set
			ModDate = now(),
			attrib = 'XXXXX'
		where docNo = #{docNo};
	</update>

	<update id="deleteDoc">
		update swc_businessdoc set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessdocapp set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessdocData set
			attrib = "XXXXX",
		    ModDate = now()
		where docNo = #{docNo};
		
		update swc_businessfiledata set
			attrib = "XXXXX",
		    ModDatetime = now()
		where docNo = #{docNo};
	</update>
	
	<update id="docDrawUpdate">
		update swc_businessdoc set docDrawStatus = 1, docDrawNo = #{docDrawNo} where docNo = #{docNo};
	</update>
	
	<update id="docDrawDelete">
		update swc_businessdoc set docDrawStatus = 0, docDrawNo = 0 where docNo = #{docNo};
	</update>

	<select id="listUserAtt" resultType="gwDto">

		select a.*, b.userName from swc_userattend a
		left join swc_user b on a.userNo = b.userNo
		where a.compNo = #{compNo} and a.attrib not like 'XXX%' order by a.attStatus, a.regDate desc;

	</select>

	<select id="detailUserAtt" resultType="gwDto">

		select a.*, b.userName from swc_userattend a
		left join swc_user b on a.userNo = b.userNo
		where a.attendId = #{attendId};

	</select>

	<select id="listUserAttbyuser" resultType="gwDto">

		select * from swc_userattend where userNo = #{userNo} and attrib not like 'XXX%';

	</select>

	<insert id="insertUserAtt">
		insert into swc_userattend (
			compNo,
		    userNo,
			attType,
			attStart,
			attEnd,
			attTitle,
			attDesc,
			soppNo,
			regDate,
			attrib
		)
		values (
			#{compNo},
			#{userNo},
			#{attType},
			#{attStart},
			#{attEnd},
			#{attTitle},
			#{attDesc},
			#{soppNo},
			now(),
			'100001'
		);
	</insert>

	<update id="updateUserAtt">
		update swc_userattend set
			  attType = #{attType},
			  attStart = #{attStart},
			  attEnd = #{attEnd},
			  attTitle = #{attTitle},
			  attDesc= #{attDesc},
			  soppNo = #{soppNo},
			  modDate = now()
			where attendId = #{attendId};
	</update>

	<update id="Attallow">
		update swc_userattend set
	  	modDate = now(),
        attStatus = '5'
		where attendId = #{attendId};
	</update>

	<update id="Attreject">
		update swc_userattend set
			  modDate = now(),
			  attStatus = '3',
			  attDesc = #{attDesc}
		where attendId = #{attendId};
	</update>

	<update id="deleteUserAtt">
		update swc_userattend set
			modDate = now(),
		    attrib = 'XXXUP'
		where attendId = #{attendId};
	</update>
	
	<update id="hrListApp">
		update swc_userattend set attStatus = 5, modDate = now() where compNo = #{compNo} and attendId = #{attendId};
	</update>

	<update id="hrListCom">
		update swc_userattend set attStatus = 3, modDate = now() where compNo = #{compNo} and attendId = #{attendId};
	</update>

	<select id="listdocApp" resultType="gwDto">
		select * from swc_businessdocapp where attrib not like 'XXX%' and docNo = #{docNo};
	</select>

	<select id="listmyAppdoc" resultType="gwDto">
		select * from swc_businessdocapp where attrib not like 'XXX%' and userNoAPP = ${userNo} and appDate is null ;
	</select>

	<insert id="insAppline">
		insert into swc_businessdocapp
		( 
		compNo,
		docNo,
		appLine,
		userNoCR,
		userNoIS,
		userNoAPP,
		appStatus,
		issueDate,
		regDate,
		attrib ) 
		values 
		( 
		#{compNo},
		#{docNo},
		#{appLine},
		#{userNoCR},
		#{userNoIS},
		#{userNoAPP},
		#{appStatus},
		#{issueDate},
		now(),
		'100001'  
		);
	</insert>

	<update id="updApp">
		update swc_businessdocapp set
			appDate = now(),
		    appComment = #{appComment},
		    appStatus = #{appStatus},
		    modDate = now()
		where appId = #{appId};
	</update>
	
	<update id="uploadFile2">
		update swc_businessfiledata set
			docNo = #{docNo}
		where docNo = #{lastdocNo};
	</update>
	
	<select id="userEmail" resultType="GwDTO">
		select a.userEmail from swc_user a
		where a.userNo = #{userNo};
	</select>
	
	<update id="update_save_data">
		update swc_businessdoc set 
			attrib = "XXXXX"
		where docNo = #{docNo}
	</update>
	
	<update id="update_amount">
		update swc_businessdoc set
			docAmount = #{docAmount}
		where docNo = #{docNo} and attrib not like "xxx%"
	</update>
	
</mapper>