<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mis">

    <select id="hrdutylist" resultType="misDto">
        select su.userNo,us.userName,count(case when attType= '1' then 1 end) mdays,count(case when attType= '2' then 1 end) ydays
        ,count(case when attType= '3' then 1 end) edays,count(case when attType= '4' then 1 end) hdays,count(case when attType= '5' then 1 end) kdays
        from swc_userattend su
        left join swc_user us on us.userNo = su.userNo
        where attStatus = 5 and su.compNo = #{compNo}
        <choose>
        <when test="sYear == null ">
            and date_format(su.attStart,'%Y') = date_format(now(),'%Y')
        </when>
            <when test = "sYear != null">
            and date_format(su.attStart,'%Y') = #{sYear}
            </when>
        </choose>
        group by userNo
    </select>

    <select id="hrcostlist" resultType="misDto">
        select userNo, userName from swc_user where compNo = #{compNo} and attrib not like "XXX%"
    </select>

    <select id="soppList" resultType="misDto"> 
		SELECT b.soppNo, b.soppTitle, b.soppTargetDate, b.soppTargetAmt, e.desc03, a.contNo, a.contTitle, d.userName FROM swc_cont a 
		LEFT JOIN swc_sopp b ON a.soppNo = b.soppNo
		LEFT JOIN swc_code c ON b.soppType = c.codeNo
		LEFT JOIN swc_user d ON b.userNo = d.userNo
		LEFT JOIN swc_code e ON b.soppStatus = e.codeNo
		WHERE (a.soppNo, a.regDatetime) IN (
		SELECT a.soppNo, MAX(a.regDatetime)
		FROM swc_cont a
		WHERE a.compNo = #{compNo} AND a.attrib NOT LIKE "XXX%"
		GROUP BY a.soppNo
		) 
		order BY a.regDatetime DESC
    </select>

    <select id="soppCost" resultType="misDto">
      	SELECT b.soppNo, b.regDatetime, b.soppTitle, c.desc03, b.soppTargetAmt, a.contNo, a.net_profit, a.contTitle FROM swc_cont a 
		LEFT JOIN swc_sopp b ON a.soppNo = b.soppNo
		LEFT JOIN swc_code c ON b.soppType = c.codeNo
		WHERE (a.soppNo, a.regDatetime) IN (
		SELECT a.soppNo, MAX(a.regDatetime)
		FROM swc_cont a
		WHERE a.compNo = #{compNo} AND a.attrib NOT LIKE "XXX%"
		GROUP BY a.soppNo
		) 
		order BY a.regDatetime DESC
    </select>

    <select id="soppMargin" resultType="contDto">   
		SELECT a.*, b.desc03 contTypeN, c.desc03 cntrctMthN FROM swc_cont a
		LEFT JOIN swc_code b on a.contType = b.codeNo 
		left join swc_code c on a.cntrctMth = c.codeNo
		WHERE a.compNo = #{compNo} ORDER BY a.regDatetime desc
    </select>

    <select id="bacinout" resultType="misDto">
        select c.desc03 bacTypeN ,b.desc03 bankCodeN ,a.*, d.baclogTime, d.balanceAmt from swc_bac a
            left join swc_code b on b.code03 = a.bankCode
            LEFT join swc_code c on c.code03 = a.bacType
            LEFT JOIN (SELECT * FROM( SELECT * FROM swc_bacledger WHERE (bacSerial, baclogTime) IN
                    ( SELECT bacSerial, MAX(baclogTime) FROM swc_bacledger where attrib not like 'XXX%' GROUP BY bacSerial) ORDER BY baclogTime DESC )t GROUP BY t.bacSerial) d ON a.bacSerial = d.bacSerial
            where a.compNo = #{compNo} and a.attrib not like 'XXX%';
    </select>

    <select id="bacstatus" resultType="misDto">
        select c.desc03 bacTypeN ,b.desc03 bankCodeN ,a.*, d.baclogTime, d.balanceAmt from swc_bac a
             left join swc_code b on b.code03 = a.bankCode
             LEFT join swc_code c on c.code03 = a.bacType
             LEFT JOIN (SELECT * FROM( SELECT * FROM swc_bacledger WHERE (bacSerial, baclogTime) IN
                      ( SELECT bacSerial, MAX(baclogTime) FROM swc_bacledger where attrib not like 'XXX%' AND date_format(baclogTime, '%Y-%m-%d') BETWEEN '2000-01-01' AND NOW() GROUP BY bacSerial) ORDER BY baclogTime DESC )t GROUP BY t.bacSerial) d ON a.bacSerial = d.bacSerial
        where a.compNo = 100002 and a.attrib not like 'XXX%';
    </select>
    
    <select id="bacstatus_select" resultType="misDto">
    	 select c.desc03 bacTypeN ,b.desc03 bankCodeN ,a.*, d.baclogTime, d.balanceAmt from swc_bac a
             left join swc_code b on b.code03 = a.bankCode
             LEFT join swc_code c on c.code03 = a.bacType
             LEFT JOIN (SELECT * FROM( SELECT * FROM swc_bacledger WHERE (bacSerial, baclogTime) IN
                      ( SELECT bacSerial, MAX(baclogTime) FROM swc_bacledger where attrib not like 'XXX%' AND date_format(baclogTime, '%Y-%m-%d') BETWEEN '2000-01-01' AND #{select_regDate} GROUP BY bacSerial) ORDER BY baclogTime DESC )t GROUP BY t.bacSerial) d ON a.bacSerial = d.bacSerial
        where a.compNo = 100002 and a.attrib not like 'XXX%';
    </select> 
    
    <select id="sumBVat" resultType="accountDto">
		SELECT a.*, b.settleDRbalance as custBalance, a.custName AS vatSellerName, SUM(c.vatTax + c.vatAmount) 
		AS vatAmountB, sum(case when c.vatStatus='B5' then c.vatAmount + c.vatTax end) AS serialTotalB FROM swc_cust a
		LEFT JOIN swc_cust_balance b on a.custNo = b.custNo AND b.settleYear = #{selectYear} AND b.compNo = #{compNo} AND b.attrib NOT LIKE 'XXX%' AND b.settleDRbalance IS NOT NULL
		LEFT JOIN swc_vat c ON a.custNo = c.vatSellerCustNo AND c.vatIssueDate BETWEEN #{vatIssueDateFrom} and #{vatIssueDateTo} and c.attrib NOT LIKE 'XXX%' 
		WHERE a.compNo = #{compNo} AND a.custCompNo != #{compNo}
		GROUP BY a.custNo
	</select>
	
	<select id="sumBvat_sub" resultType="accountDto">		
		SELECT a.custNo, a.custName, sum(b.modal_receive_data) AS modal_receive_data FROM swc_cust a
		LEFT JOIN swc_vat b ON a.custNo = b.vatSellerCustNo AND (b.vatStatus = 'B3' OR b.vatStatus = 'B5')
		LEFT JOIN(SELECT * FROM swc_bacledger_detail group BY linkDocno) c ON b.vatSerial = c.linkDocno
		LEFT JOIN swc_bacledger d ON d.baclogId = c.baclogId
		WHERE d.linkDoc = 'y' and d.baclogTime LIKE CONCAT('%', #{selectYear}, '%') and b.attrib not like 'XXX%' GROUP BY a.custName;
	</select>

	<select id="sumBVatSearch" resultType="accountDto">
		SELECT a.*, b.settleDRbalance as custBalance, a.custName AS vatSellerName, SUM(c.vatTax + c.vatAmount) 
		AS vatAmountB, sum(case when c.vatStatus='B5' then c.vatAmount + c.vatTax end) AS serialTotalB FROM swc_cust a
		LEFT JOIN swc_cust_balance b on a.custNo = b.custNo AND b.settleYear = #{selectYear} AND b.compNo = #{compNo} AND b.attrib NOT LIKE 'XXX%' AND b.settleDRbalance IS NOT NULL
		LEFT JOIN swc_vat c ON a.custNo = c.vatSellerCustNo AND c.vatIssueDate BETWEEN #{vatIssueDateFrom} and #{vatIssueDateTo} and c.attrib NOT LIKE 'XXX%'
		WHERE a.compNo = #{compNo} AND a.custCompNo != #{compNo}
		<if test="vatSellerCustNo != null and vatSellerCustNo != ''">
			and c.vatSellerCustNo = #{vatSellerCustNo}
		</if>
		GROUP BY a.custNo
	</select>
	
	<select id="sumSVat" resultType="accountDto">
		SELECT a.*, b.settleCRbalance as custBalance, a.custName AS vatBuyerName, SUM(c.vatTax + c.vatAmount) 
		AS vatAmountS, sum(case when c.vatStatus='S5' then c.vatAmount + c.vatTax end) AS serialTotalS FROM swc_cust a
		LEFT JOIN swc_cust_balance b on a.custNo = b.custNo AND b.settleYear = #{selectYear} AND b.compNo = #{compNo} AND b.attrib NOT LIKE 'XXX%' AND b.settleCRbalance IS NOT NULL
		LEFT JOIN swc_vat c ON a.custNo = c.vatBuyerCustNo AND c.vatIssueDate BETWEEN #{vatIssueDateFrom} and #{vatIssueDateTo} and c.attrib NOT LIKE 'XXX%'
		WHERE a.compNo = #{compNo} AND a.custCompNo != #{compNo}
		GROUP BY a.custNo
	</select>
	
	<select id="sumSvat_sub" resultType="accountDto">
		SELECT a.custNo, a.custName, sum(b.modal_receive_data) AS modal_receive_data  FROM swc_cust a
		LEFT JOIN swc_vat b ON a.custNo = b.vatBuyerCustNo AND (b.vatStatus = 'S3' OR b.vatStatus = 'S5')
		LEFT JOIN(SELECT * FROM swc_bacledger_detail group BY linkDocno) c ON b.vatSerial = c.linkDocno 
		LEFT JOIN swc_bacledger d ON d.baclogId = c.baclogId
		WHERE d.linkDoc = 'y' and d.baclogTime LIKE CONCAT('%', #{selectYear}, '%') and b.attrib not like 'XXX%' GROUP BY a.custName;
	</select>
	
	<select id="sumSVatSearch" resultType="accountDto">
		SELECT a.*, b.settleCRbalance as custBalance, a.custName AS vatBuyerName, SUM(c.vatTax + c.vatAmount) 
		AS vatAmountS, sum(case when c.vatStatus='S5' then c.vatAmount + c.vatTax end) AS serialTotalS FROM swc_cust a
		LEFT JOIN swc_cust_balance b on a.custNo = b.custNo AND b.settleYear = #{selectYear} AND b.compNo = #{compNo} AND b.attrib NOT LIKE 'XXX%' AND b.settleCRbalance IS NOT NULL
		LEFT JOIN swc_vat c ON a.custNo = c.vatBuyerCustNo AND c.vatIssueDate BETWEEN #{vatIssueDateFrom} and #{vatIssueDateTo} and c.attrib NOT LIKE 'XXX%'
		WHERE a.compNo = #{compNo} AND a.custCompNo != #{compNo}
		<if test="vatBuyerCustNo != null and vatBuyerCustNo != ''">
			and c.vatBuyerCustNo = #{vatBuyerCustNo}
		</if>
		GROUP BY a.custNo
	</select>
	
	<select id="listIOsum" resultType="soppdataDto">
select a.soppNo, dataType ,b.soppTitle, c.custName as custName, sum(case when a.dataType='1101' then a.dataTotal end) AS amount, sum(case when a.dataType='1102' then a.dataTotal end) AS take, b.soppDesc, b.regDatetime   
 		from swc_soppData01 a
		left join swc_sopp b on a.soppNo = b.soppNo
 		left join swc_cust c on a.salesCustNo = c.custNo
		where a.attrib not like 'XXX%' and b.compNo = #{compNo}
		<if test="dataType != null and dataType != ''">
 		 	and a.dataType = #{dataType}
 		</if>
		<if test="userNo != null and userNo != ''">
 		 	and a.userNo = #{userNo}
 		</if>
 		<if test="salesCustNo != null and salesCustNo != ''">
 		 	and a.salesCustNo = #{salesCustNo}
 		</if>
 		<if test="userNo != null and userNo != ''">
 		 	and a.userNo = #{userNo}
 		</if>
 		<if test="vatDatefrom != null and vatDatefrom != ''">
 		 	and date_format(a.vatDate, '%Y-%m-%d') <![CDATA[>=]]> #{vatDatefrom}
 		</if>
 		<if test="vatDateto != null and vatDateto != ''">
 			and date_format(a.vatDate, '%Y-%m-%d') <![CDATA[<=]]> #{vatDateto}
 		</if>
 		<if test="listDateFrom != null and listDateFrom != '' and vatDatefrom == null or vatDatefrom == '' and vatDateto == null or vatDateto == ''">
 			and b.regDatetime Between #{listDateFrom} and now()
 		</if>
		and a.catNo=100001
		group by a.soppNo
		order by a.soppNo desc
 </select>
 
 <select id="listSearchIO" resultType="soppdataDto">
	select a.soppNo, dataType ,b.soppTitle, c.custName as custName, sum(case when a.dataType='1101' then a.dataTotal end) AS amount, sum(case when a.dataType='1102' then a.dataTotal end) AS take, b.soppDesc, b.regDatetime   
	 		from swc_soppData01 a
			left join swc_sopp b on a.soppNo = b.soppNo
	 		left join swc_cust c on a.salesCustNo = c.custNo
	 		left join swc_user d on b.userNo = d.userNo
			where a.attrib not like 'XXX%' and b.compNo = #{compNo}
			<if test="custNo != null and custNo != ''">
	 		 	and b.custNo = #{custNo}
	 		</if>
			<if test="userName != null and userName != ''">
	 		 	and d.userName like CONCAT('%', #{userName}, '%')
	 		</if>
	 		<if test="listDateFrom != null and listDateFrom != ''">
	 			and b.regDatetime Between #{listDateFrom} and now()
	 		</if>
			and a.catNo=100001
			group by a.soppNo
			order by a.soppNo desc
</select>
<select id="baclist" resultType="accountDto">
		select c.desc03 bacTypeN ,b.desc03 bankCodeN ,a.*, d.baclogTime, d.balanceAmt from swc_bac a
	   	left join swc_code b on b.code03 = a.bankCode
	   	LEFT join swc_code c on c.code03 = a.bacType
	   	LEFT JOIN 
	   	(SELECT * FROM(
			SELECT * 
				FROM swc_bacledger 
				WHERE (bacSerial, baclogTime) IN (
			SELECT bacSerial, MAX(baclogTime)
			FROM swc_bacledger where attrib not like 'XXX%' GROUP BY bacSerial
			)
			ORDER BY baclogTime DESC
		)t
		GROUP BY t.bacSerial) d ON a.bacSerial = d.bacSerial
				where a.compNo = #{compNo} and a.attrib not like 'XXX%';
	</select>
	
	<select id="bacSelectList" resultType="accountDto">
		select * from swc_bacledger 
		WHERE (baclogTime) IN ( SELECT MAX(baclogTime) FROM swc_bacledger where bacSerial = #{bacSerial} and attrib not like 'XXX%' GROUP BY DATE_FORMAT(baclogTime, '%Y-%m-%d'))
		<if test="bacDesc != null and bacDesc != ''">
			and bacDesc like CONCAT('%', #{bacDesc}, '%')
		</if>
		<if test="baclogTimeFrom != null and baclogTimeFrom != ''">
			and baclogTime Between #{baclogTimeFrom} and #{baclogTimeTo}
		</if>
		<if test="linkDoc != null and linkDoc != ''">
			and linkDoc = #{linkDoc}
		</if>
		GROUP BY DATE_FORMAT(baclogTime, '%Y-%m-%d') order by baclogTime desc limit #{betFirstNum}, #{betLastNum};
	</select>
	
	<select id="bacInOutList" resultType="accountDto">
		select *, SUM(inAmt) as inListAmt, SUM(outAmt) as outListAmt from swc_bacledger 
		where bacSerial = #{bacSerial} and attrib not like 'XXX%' 
		<if test="bacDesc != null and bacDesc != ''">
			and bacDesc like CONCAT('%', #{bacDesc}, '%')
		</if>
		<if test="baclogTimeFrom != null and baclogTimeFrom != ''">
			and baclogTime Between #{baclogTimeFrom} and #{baclogTimeTo}
		</if>
		<if test="linkDoc != null and linkDoc != ''">
			and linkDoc = #{linkDoc}
		</if>
		group by DATE_FORMAT(baclogTime, '%Y-%m-%d') order by baclogTime desc limit #{betFirstNum}, #{betLastNum};
	</select>
</mapper>