<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="organiz">

<select id="listDept" resultType="organizDto">
	select a.org_id parentId, a.org_code parentCode, a.org_title parentTitle,
		   b.org_id, b.org_code, b.org_title, b.org_level, b.org_mcode, b.org_regdatetime, b.org_moddatetime, b.org_desc, b.org_rolemap, b.org_color, b.attrib,
		   if((select count(*) from swcore.swc_organiz c where c.org_parentLv = b.org_id) > 0, true, false) childrenYN
	from swcore.swc_organiz a
			 left outer join swcore.swc_organiz b on a.org_id = b.org_parentLv
	where a.compNo = #{compNo} and b.org_id is not null and b.attrib not like 'XXX%'
</select>

	<select id="listDept2" resultType="organizDto">
		select a.org_id parentId, a.org_code parentCode, a.org_title parentTitle,
			   b.org_id, b.org_code, b.org_title, b.org_level, b.org_mcode, b.org_regdatetime, b.org_moddatetime, b.org_desc, b.org_rolemap, b.org_color, b.attrib,
			   if((select count(*) from swc_organiz c where c.org_parentLv = b.org_id) > 0, true, false) childrenYN
		from swc_organiz a
				 left outer join swc_organiz b on a.org_id = b.org_parentLv
		where a.compNo = #{compNo} and b.org_id is not null and b.attrib not like 'XXX%' and b.org_salesTarget > 0
	</select>


<select id="listDeptChainExtend" resultType="organizDto">
	
		select so2.org_id, so.org_code, so2.org_title
		from swc_organiz so
		left join swc_organiz so2 on so.org_id = so2.org_parentLv
		where so.compNo = #{compNo}
		<if test="org_id == null and org_id == ''">
			<![CDATA[
			and  so2.org_level <= (
									select max(so3.org_level)
									from swc_organiz so3
									where so3.compNo = #{compNo}
								  )
	  		]]>
		</if>
		<if test="org_id != null and org_id != ''">
			and so2.org_id = #{org_id}
		</if>
			and so2.org_id is not NULL and so2.org_salesTarget > 0
		order by so2.org_id
		
</select>
	<select id="listDeptChainExtend2" resultType="organizDto">

		select so2.org_id, so.org_code, so2.org_title
		from swc_organiz so
		left join swc_organiz so2 on so.org_id = so2.org_parentLv
		where so.compNo = #{compNo}
		<if test="org_id == null and org_id == ''">
			<![CDATA[
			and  so2.org_level <= (
									select max(so3.org_level)
									from swc_organiz so3
									where so3.compNo = #{compNo}
								  )
	  		]]>
		</if>
		<if test="org_id != null and org_id != ''">
			and so2.org_id = #{org_id}
		</if>
		and so2.org_id is not NULL and so2.org_salesTarget > 0
		order by so2.org_id

	</select>
	
	<insert id="insertOrg"> 
     insert into swc_organiz  
     (compNo,org_code,org_title,org_level,org_parentLv,org_mcode,org_salesTarget,org_regdatetime,org_desc,org_color) 
     select #{compNo},#{org_code},#{org_title}, (max(org_level)+1) as org_level,min(org_id),#{org_mcode},#{org_salesTarget},now(),
     #{org_desc},#{org_color} from swc_organiz where compNo = #{compNo};
	</insert>
	
	<select id="getOrgByCode" resultType="organizDto">
SELECT * FROM swc_organiz   WHERE org_code = #{org_code}
</select>
	
	  <update id="updateOrg">
 		update swc_organiz set 
 		org_title = #{org_title}, 
 		org_code = #{org_code },
 		org_level = #{org_level},
 		org_salesTarget = #{org_salesTarget},
 		org_color = #{org_color},
 		org_desc = #{org_desc},
 		org_modDatetime = now()
 		where org_id =#{org_id}
  </update>

 <update id="deleteOrg">
 		update swc_organiz set 
 		attrib = "XXXXX"
 		where org_id =#{org_id}
  </update>


</mapper>