<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="organiz">

<select id="listDept" resultType="organizDto">
	select a.org_id parentId, a.org_code parentCode, a.org_title parentTitle,
		   b.org_id, b.org_code, b.org_title, b.org_level, b.org_mcode, b.org_regdatetime, b.org_moddatetime, b.org_desc, b.org_rolemap, b.org_color, b.attrib,
		   if((select count(*) from swc_organiz c where c.org_parentLv = b.org_id) > 0, true, false) childrenYN
	from swc_organiz a
			 left outer join swc_organiz b on a.org_id = b.org_parentLv
	where a.compNo = #{compNo} and b.org_id is not null and b.attrib not like 'XXX%'
</select>

<select id="listDeptChainExtend" resultType="organizDto">
	
		select so2.org_id, so.org_code, so2.org_title
		from swc_organiz so
		left join swc_organiz so2 on so.org_id = so2.org_parentLv
		where so.compNo = #{compNo}
		<if test="org_id == null and org_id == ''">
			<![CDATA[
			and  so2.org_level <= (
									select max(so3.org_level)
									from swc_organiz so3
									where so3.compNo = #{compNo}
								  )
	  		]]>
		</if>
		<if test="org_id != null and org_id != ''">
			and so2.org_id = #{org_id}
		</if>
			and so2.org_id is not NULL
		order by so2.org_id
		
</select>

</mapper>