<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeInout">

<select id="inoutList" resultType="storeInoutDto"> 
<!--  select a.* from swc_store_inout a  left join  swc_store b on a.storeNo = b.storeNo 
where b.productNo = #{productNo}; -->
select a.*,b.serialNo as serialNo, b.productNo as productNo, c.productName as productName from swc_store_inout a  
left join  swc_store b on a.storeNo = b.storeNo  
left join swc_product c on b.productNo = c.productNo  where b.productNo = #{productNo} order by a.regDate desc;
</select>

<select id="inoutAllList" resultType="storeInoutDto"> 
<!--  select a.* from swc_store_inout a  left join  swc_store b on a.storeNo = b.storeNo 
where b.productNo = #{productNo}; -->
select a.*,b.serialNo as serialNo, b.productNo as productNo, c.productName as productName from swc_store_inout a  
left join  swc_store b on a.storeNo = b.storeNo  
left join swc_product c on b.productNo = c.productNo  where a.compNo = #{compNo} order by a.regDate desc;
</select>

<select id="calcStoreQty">
SELECT (-inoutQty + #{inoutQty}) as inoutQty FROM swc_store_inout  WHERE inoutNo =#{inoutNo};
</select>

<update id="updateInout">
UPDATE swc_store_inout SET inoutQty = (inoutQty + #{inoutQty}) WHERE inoutNo = #{inoutNo};
</update>

</mapper>
