<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storeInout">

<select id="inoutList" resultType="storeInoutDto"> 
<!--  select a.* from swc_store_inout a  left join  swc_store b on a.storeNo = b.storeNo 
where b.productNo = #{productNo}; -->
select a.*,b.serialNo as serialNo, b.productNo as productNo, c.productName as productName from swc_store_inout a  
left join  swc_store b on a.storeNo = b.storeNo  
left join swc_product c on b.productNo = c.productNo  where b.productNo = #{productNo} order by a.regDate desc;
</select>

<select id="inoutAllList" resultType="storeInoutDto"> 
<!--  select a.* from swc_store_inout a  left join  swc_store b on a.storeNo = b.storeNo 
where b.productNo = #{productNo}; -->
SELECT a.*,b.serialNo as serialNo, b.productNo as productNo, c.productName as productName from swc_store_inout a  
left join swc_store b on a.storeNo = b.storeNo  
left join swc_product c on b.productNo = c.productNo  WHERE a.compNo = #{compNo} order by a.regDate desc;
</select>

<select id="calcStoreQty">
SELECT (-inoutQty + #{inoutQty}) as inoutQty FROM swc_store_inout  WHERE inoutNo =#{inoutNo};
</select>

<update id="updateInout">
UPDATE swc_store_inout SET inoutQty = (inoutQty + #{inoutQty}) WHERE inoutNo = #{inoutNo};
</update>



<!-- 검색 관련 쿼리 -->
<select id="search" resultType="storeInoutDto">
SELECT a.* ,b.serialNo , b.productNo, c.productName as productName FROM swc_store_inout a 
left join swc_store b on a.storeNo = b.storeNo 
left join swc_product c on c.productNo = b.productNo 
WHERE b.compNo = #{compNo}
<if test="inoutType != null and inoutType != ''">
AND a.inoutType = #{inoutType}
</if>
<if test="productName != null and productName != ''">
AND c.productName like CONCAT('%', #{productName}, '%')
</if>
<if test="storeNo != null and storeNo != ''">
AND a.storeNo = #{storeNo}
</if>
<if test="serialNo != null and serialNo != ''">
 AND b.serialNo like  CONCAT('%', #{serialNo}, '%')
</if>
<if test="from != null and from != ''">
AND a.regDate between CONCAT(#{from},' ','00:00:00') AND CONCAT(#{to},' ', '23:59:59');</if> 
</select>
</mapper> 
